{{ form_start(form, {'attr': {'class': 'flex flex-col pt-16'}}) }}
	<div class="w-full px-3 mb-6 md:mb-8">
		{{ form_row(form.title, {
				'attr': {'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
			})
		}}
	</div>
	<div class="w-full px-3 mb-6 md:mb-8">
		{{ form_row(form.description, {
				'attr': {'rows': 4, 'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
			})
		}}
	</div>
	<div class="w-full px-3 mb-6 md:mb-8">
		<a href="{{ path('genres_new') }}" class="link text-sm font-light ">Add Genre</a>
		<a href="{{ path('genres_index') }}">
		{{ form_row(form.genre, {
				'attr': {'rows': 4, 'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 selection:bg-blue-600 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'id': 'genre_title', 'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
			})
		}}
		</a>
	</div>
	<div class="w-full px-3 mb-6 md:mb-8">
		<a href="{{ path('developers_new') }}" class="link text-sm font-light">Add Developer</a>
		{{ form_row(form.developer, {
				'attr': {'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
			})
		}}
	</div>
	<div class="w-full px-3 mb-6 md:mb-8">
		<a href="{{ path('plattforms_new') }}" class="link text-sm font-light">Add Plattform</a>
		{{ form_row(form.plattform, {
				'attr': {'rows': 4, 'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
			})
		}}
	</div>
	<div class="w-full px-3 mb-6 md:mb-8">
		{{ form_row(form.image, {
				'attr': {'class': 'w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none'},
				'label_attr': {'class': 'block uppercase tracking-wide text-gray-700 text-xl font-bold mb-2'},
				'label': 'Image Link'
			})
		}}
	</div>
	<div class="w-full flex justify-end">
		<button class="btn" type="submit">{{ button_label|default('Save') }}</button>
	</div>
{{ form_end(form) }}